<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <p>Name : <input type="text" ng-model="name" ></p>
    <button ng-click="name=''">Reset</button>
    <p ng-if="name">Hello {{"Thanks for writing your name "+name}}</p>
</div>
<script>
    
    var app= angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.name = "...Not";
    }
</script>

</body>
</html>